
@{
    ViewBag.Title = "CreateShow";
}


@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
    <script src="~/Scripts/Angular/adminApp.js"></script>
    <script src="~/Scripts/ng-infinite-scroll.js"></script>
    <script src="~/Scripts/Angular/adminCtrl.js"></script>
    <script src="~/Scripts/Angular/adminService.js"></script>

<h2>CreateShow</h2>

