<!-- ko with: home -->
<div class="jumbotron">

</div>
<div class="row">
    <h2>Welcome to Regal Loft 4 Multi-Plex Admin Portal</h2>
    <hr />
    <div class="col-md-4 panel panel-default box-shadow--6dp" style="padding: 8px;">
        <h3>Sales</h3>
        <hr />
        <p>All sales data. Here the manager can keep track of sales data and trends.</p>
       
        <p><a class="btn btn-success" href="http://localhost:53449/SalesRazor">Sales &raquo;</a></p>
    </div>

    <div class="col-md-4 panel panel-default box-shadow--16dp" style="padding: 8px;">
        <h3>Movie API</h3>
        <hr />
        <p>
            Connect to the movieDb API. Here we can add movies to our theater database in order to create new show times.
        </p>
        <p><a class="btn btn-warning" href="http://localhost:53449/MoviesRazor/MoviePopApi">movieDb &raquo;</a></p>
    </div>

    <div class="col-md-4 panel panel-default box-shadow--16dp" style="padding: 8px;">
        <h3>Movies</h3>
        <hr />
        <p>List of avaliable movies where we can manage movie prices and details.</p>
        <p><a class="btn btn-warning" href="http://localhost:53449/MoviesRazor">Movies &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 panel panel-default box-shadow--16dp" style="padding: 8px;">
        <h3>Shows</h3>
        <hr />
        <p>All available shows, dates and times. Connect to manage details.</p>

        <p><a class="btn btn-primary" href="http://localhost:53449/ShowTimesRazor">Shows &raquo;</a></p>
    </div>

    <div class="col-md-4 panel panel-default box-shadow--16dp" style="padding: 8px;">
        <h3>Theater</h3>
        <hr />
        <p>
            Portal to update Theater details. Manger can update location, phone, etc..
        </p>
        <p><a class="btn btn-primary" href="http://localhost:53449/TheatersRazor/Index">Theater &raquo;</a></p>
    </div>

    <div class="col-md-4 panel panel-default box-shadow--16dp" style="padding: 8px;">
        <h3>Auditoriums</h3>
        <hr />
        <p>Manage Auditorium details. Includes creating, deleting and editing.</p>
        <p><a class="btn btn-primary" href="http://localhost:53449/AuditoriumsRazor/Index">Blah &raquo;</a></p>
    </div>
</div>

<!-- /ko -->
