@model Sp16_p3_g__1_.Models.Auditorium

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Auditorium</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuditoriumName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditoriumName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
